//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 26 00:52:36 2024
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

